In [ ]:
Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?
Answer :-
MongoDB :-
Mongo DB is a document-oriented database. It is an open source product, developed and supported by a 
company named 10gen.

Non-Relational Database :-
Non-relational databases (often called NoSQL databases) are different from traditional relational databases
in that they store their data in a non-tabular form. Instead, non-relational databases might be based on data
structures like documents. A document can be highly detailed while containing a range of different types of
information in different formats. This ability to digest and organize various types of information side by side
makes non-relational databases much more flexible than relational databases.

In which scenarios it is preferred to use MongoDB over SQL databases :-
Handling Unstructured Data: If your application needs to store unstructured data, 
such as JSON documents or geospatial data, MongoDB is a good choice.

In [ ]:
Q2. State and Explain the features of MongoDB.
Answer :-
These are some important features of MongoDB:-

1. Support ad hoc queries:-
In MongoDB, you can search by field, range query and it also supports regular expression searches.

2. Indexing:-
You can index any field in a document.

3. Replication:-
MongoDB supports Master Slave replication.
A master can perform Reads and Writes and a Slave copies data from the master and can only be used
for reads or back up (not writes)

4. Duplication of data:-
MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep
its running condition in case of hardware failure.

5. Load balancing:-
It has an automatic load balancing configuration because of data placed in shards.

6. Supports map reduce and aggregation tools.

7. Uses JavaScript instead of Procedures.

8. It is a schema-less database written in C++.

9. Provides high performance.

10. Stores files of any size easily without complicating your stack.

11. Easy to administer in the case of failures.

12. It also supports:-
* JSON data model with dynamic schemas
* Auto-sharding for horizontal scalability
* Built in replication for high availability
* Now a day many companies using MongoDB to create new types of applications, improve
  performance and availability.

In [1]:
#Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

import pymongo

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://aftab06532:aftab06532@cluster0.cwyuo5h.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [5]:
db = client['pwskills']

In [7]:
coll_pwskills = db["my_record"]

In [12]:
# Q4. Using the database and the collection created in question number 3, write a code to insert one record,
# and insert many records. Use the find() and find_one() methods to print the inserted record.

# Insert one record

data1 = {"mail_id" : "aftab@gmail.com",
        "phone_number" : 9503068168,
        "address" : "Jharkhand"}

coll_pwskills.insert_one(data1)

In [11]:
# Insert many Records
data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

coll_pwskills.insert_many(data2)

In [13]:
# find()

for i in coll_pwskills.find() :
    print(i)

{'_id': ObjectId('648e130030207d71ddaa2939'), 'name': 'aftab', 'class': 'data science master', 'time': 'flexi'}
{'_id': ObjectId('648e13bb30207d71ddaa293a'), 'mail_id': 'aftab@gmail.com', 'phone_number': 9503068168, 'address': 'Jharkhand'}
{'_id': ObjectId('648e14d930207d71ddaa293b'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('648e14d930207d71ddaa293c'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('648e14d930207d71ddaa293d'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('648e14d930207d71ddaa293e'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('648e14d930207d71ddaa293f'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('648e14d930207d71ddaa2940'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('648e14d930207d71ddaa2941'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('648e14d930207d71ddaa2942'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('648e14d930207d71ddaa2943'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('648e14d930207d71ddaa2944'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('648e14d930207d71ddaa2945'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('648e14d930207d71ddaa2946'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('648e155f30207d71ddaa2947'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('648e160330207d71ddaa2948'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('648e160330207d71ddaa2949'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('648e160330207d71ddaa294a'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pwskills', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pwskills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pwskills', 'Faculty': 'PQR'}
{'_id': ObjectId('648e1ea7799faf9273146a05'), 'name': 'aftab', 'class': 'data science master', 'time': 'flexi'}
{'_id': ObjectId('648e1f3d799faf9273146a06'), 'mail_id': 'aftab@gmail.com', 'phone_number': 9503068168, 'address': 'Jharkhand'}
{'_id': ObjectId('648e1f5e799faf9273146a07'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('648e1f5e799faf9273146a08'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('648e1f5e799faf9273146a09'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('648e1f5e799faf9273146a0a'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('648e1f5e799faf9273146a0b'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('648e1f5e799faf9273146a0c'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('648e1f5e799faf9273146a0d'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('648e1f5e799faf9273146a0e'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('648e1f5e799faf9273146a0f'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('648e1f5e799faf9273146a10'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('648e1f5e799faf9273146a11'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('648e1f5e799faf9273146a12'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('648e1f69799faf9273146a13'), 'mail_id': 'aftab@gmail.com', 'phone_number': 9503068168, 'address': 'Jharkhand'}

In [14]:
# find_one()

coll_pwskills.find_one()

{'_id': ObjectId('648e130030207d71ddaa2939'),
 'name': 'aftab',
 'class': 'data science master',
 'time': 'flexi'}

In [ ]:
Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.
Answer :-
In mongoDB, the find() method is used to fetch a particular data from the table. In other words, it is
used to select data in a table. It is also used to return all events to the selected data.
The find() method consists of two parameters by which we can find a particular record.

Syntax:
db.collection_name.find(query, projection)  

1. query: This is an optional parameter that defines the selection criteria. In simple words, it 
defines a query as what you want to find in a collection.

2. projection: This is an optional parameter that defines what to return if the query criteria are 
met successfully. In simple words, it is a type of decision-making that decides on criteria.

In [16]:
# Example :-
for i in coll_pwskills.find().limit(5):
    print(i)

{'_id': ObjectId('648e130030207d71ddaa2939'), 'name': 'aftab', 'class': 'data science master', 'time': 'flexi'}
{'_id': ObjectId('648e13bb30207d71ddaa293a'), 'mail_id': 'aftab@gmail.com', 'phone_number': 9503068168, 'address': 'Jharkhand'}
{'_id': ObjectId('648e14d930207d71ddaa293b'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('648e14d930207d71ddaa293c'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('648e14d930207d71ddaa293d'), 'name': 'Michael', 'address': 'Valley 345'}

In [ ]:
Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.
Answer :
To sort documents in MongoDB, you need to use sort() method. The method accepts a document
containing a list of fields along with their sorting order. To specify sorting order 1 and -1
are used. 1 is used for ascending order while -1 is used for descending order.

Syntax
The basic syntax of sort() method is as follows −
>db.COLLECTION_NAME.find().sort({KEY:1})

In [ ]:
#Example :-
for i in coll_pwskills.find().sort({KEY:1}):
    print(i)

In [ ]:
Q7. Explain why delete_one(), delete_many(), and drop() is used.
Answer :-
delete_one() :-
To delete one document, we use the delete_one() method.

In [21]:
#example :-
myquery = {"name" : "aftab"}
coll_pwskills.delete_one(myquery)

In [ ]:
delete_many() :-
To delete more than one document, use the delete_many() method.

The first parameter of the delete_many() method is a query object defining which documents to delete.

coll_pwskills.delete_one(myquery)

In [23]:
# Example :-
myquery = { "address": {"$regex": "^S"} }
x = coll_pwskills.delete_many(myquery)
print(x.deleted_count, " documents deleted.")

4  documents deleted.

In [24]:
# Example :-
x = coll_pwskills.delete_many({})
print(x.deleted_count, " documents deleted.")

31  documents deleted.

In [ ]:
drop():-
You can delete a table, or collection as it is called in MongoDB, by using the drop() method.

In [25]:
# Example :-

coll_pwskills.drop()