In [1]:
#Assignment 1

In [2]:
#Q1. Explain with an example each when to use for loop and a while loop
#For Loop : For loop is used to run a block of code for a certain number of times. It is used to iterate over any sequences such as list,touple,string,etc

# syntax of for loop :-
#     for val in sequence:
#          ststement(s)
#Here, val accesses each item of sequence on each iteration. Loop continues until we reach the last item in the sequence.

# Example of for loop
n=int(input("Enter a number which you want table"))
for i in range(1,11):
    print(n, "x", i, "=", n*i )

Enter a number which you want table 2

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [3]:
#while Loop :- While loop is used to run a block of code until a certain codition is met.

#syntax of while loop :-
#      while condition:
#            body of while loop
# 1. Here, A while loop evaluates the condition
# 2. If the condition evaluates to True, the code inside the while loop is executed.
# 3. condition is evaluated again.
# 4. This process continues until the condition is False.
# 5. When condition evaluates to False, the loop stops.

#Example of while loop :-
n=int(input("Enter a number which you want table"))
i=1
while i<=10 :
    print(n, "x", i, "=", n*i )
    i = i+1

Enter a number which you want table 2

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [4]:
# Q2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

In [5]:
#print the sum of first 10 natural number usnig for loop
sum=0
for i in range(1,11) :
    sum=sum+i
print("Sum of first 10 natural number is = ",sum)

Sum of first 10 natural number is =  55

In [6]:
#print the sum of first 10 natural number usnig while loop
sum =0
i=1
while i<=10 :
    sum =sum + i
    i=i+1
print("Sum of first 10 natural number is = ",sum)

Sum of first 10 natural number is =  55

In [8]:
#print the product of first 10 natural number usnig for loop
num=1
for i in range(1,11) :
    num=num*i
print("Product of first 10 natural number is = ",num)

Product of first 10 natural number is =  3628800

In [9]:
#print the product of first 10 natural number usnig while loop
num=1
i=1
while i<=10 :
    num=num*i
    i=i+1
print("Product of first 10 natural number is = ",num)

Product of first 10 natural number is =  3628800

In [10]:
# Q3. Create a python program to compute the electricity bill for a household.
#The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
#unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
#be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

unit = int(input("Enter yur input : "))
if unit <=100 :
    bill = unit * 4.5
elif unit > 100 and unit <= 200 :
    bill = 450 + ((unit-100) * 6)
elif unit > 200 and unit <=300:
    bill = 450 + 600 + ((unit-200) * 10)
elif unit > 300 :
    bill = 450 + 600 + 1000 + ((unit-300) * 20)
else :
    print("Please enter positive number")
print("Total Bill = ",bill)

Enter yur input :  310

Total Bill =  2250

In [11]:
#Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
#number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
#that list.
l=list(range(1,101))
cube=[]
l1=[]
print("List of 1 to 100")
print(l)

for i in l:
    cube.append(i*i*i)
print("\nCube of list from 1 to 100")
print(cube)

for i in cube :
    if i%4==0 or i%5==0 :
     l1.append(i)
print("\nList of number from  1 to 100 which is divisible by 4 or 5")
print(l1)

List of 1 to 100
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

Cube of list from 1 to 100
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

List of number from  1 to 100 which is divisible by 4 or 5
[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [12]:
#Q5. Write a program to filter count vowels in the below-given string.
#string = "I want to become a data scientist"

string = "I want to become a data scientist"
vowels=0
for i in string :
    if(i=="A" or i=="E" or i=="I" or i=="O" or i=="U" or i=="a" or i=="e" or i=="i" or i=="o" or i=="u") :
        vowels = vowels +1
print("Total number of vowels are:",vowels)

Total number of vowels are: 12